<div id="changePasswordFormContainer" title="<%= ResourceUtil.getString("CHANGE_PASSWORD_TITLE") %>">
    <form autocomplete="off">
        <div>
            <label for="oldPassword"><%= ResourceUtil.getString("CHANGE_PASSWORD_OLD_PASSWORD") %></label><br>
            <input type="password" name="oldPassword" id="oldPassword" autocomplete="off" class="text ui-widget-content ui-corner-all"/>        
        </div>
        <div>
            <label for="newPassword"><%= ResourceUtil.getString("CHANGE_PASSWORD_NEW_PASSWORD") %></label><br>
            <input type="password" name="newPassword" id="newPassword" autocomplete="off" class="text ui-widget-content ui-corner-all"/>        
        </div>
        <div>
            <label for="reenterPassword"><%= ResourceUtil.getString("CHANGE_PASSWORD_REENTER_PASSWORD") %></label><br>
            <input type="password" name="reenterPassword" id="reenterPassword" autocomplete="off" class="text ui-widget-content ui-corner-all"/>    
        </div>
        <div>
            <label><%= ResourceUtil.getString("CHANGE_PASSWORD_HELP") %></label>
        </div>
        <div id="changePasswordFormErrorMessage" class="alert alert-error is-hidden">
            
        </div>
    </form>    
</div>