<div class="text-input" >
    <%if(message != ''){%>
        <p><%=message%>
            <%if(required == true){%>
                <span class="requiredField">*</span>
            <%}%>
        </p>
    <%}%>
    
  <input id="<%=id%>" 
         title="<%=title%>"
         type="text" 
         name="<%=name%>" 
         value="<%=value%>" 
         maxlength="<%=maxlength%>"
         class="<%=classNames%>"
         <%= readonly === true ? 'readonly' : ''%>/>
    <%if(additionalText != ''){%>
        <p class='additional-text'><%=additionalText%></p>
    <%}%>
</div>