<div id="helpAboutDialogContainer">
    <% if(poetUser) { %>
    <p><%= ResourceUtil.getString('ABOUT_APPLICATION_NAME') %></p>
    <p>© <%= new Date().getFullYear() %> Lattice Engines</p>
    <p><%= ResourceUtil.getString('ABOUT_VERSION_LABEL') %> $PoetVersion$</p>
    <% } %>

    <% if(bardUser) { %>
    <p><%= ResourceUtil.getString('ABOUT_BARD_APPLICATION_NAME') %></p>
    <p>© <%= new Date().getFullYear() %> Lattice Engines</p>
    <p><%= ResourceUtil.getString('ABOUT_VERSION_LABEL') %> $BardVersion$</p>
    <% } %>
</div>