<div class="js-dante-play-details-nav-tile dante-play-details-nav-tile" title="<%= options.Description %>">
    <div class="js-dante-play-tile-header dante-play-tile-header">
        <span> </span> <!-- Empty span so ellipsis will be correct color in IE (see DEF-6421) -->
        <div class="icon pt-<%= options.PlayType %> play-type-icon"></div>
        <%= options.Name %>
    </div>
    <div class="js-dante-play-details-nav-tile-score dante-play-details-nav-tile-score float-left">
    </div>
    <div class='dante-play-details-nav-tile-selected-arrow float-right is-hidden'></div>
    <div class='float-right'>
        <% if (options.Lift != null) { %>
            <div class="dante-play-details-tile-metric-container">
                <div class="dante-play-tile-metric">
                    <p class="dante-play-tile-metric-value">
                        <%= options.Lift %>
                    </p>
                    <p class="dante-play-tile-metric-label">
                        <%= ResourceUtil.getString(options.LiftDisplayKey) %>
                    </p>
                </div>
            </div>
        <% } %>
                        
        <% if (options.ActiveDays != null) { %>
            <div class="dante-play-details-tile-metric-container">
                <div class="dante-play-tile-metric">
                    <p class="dante-play-tile-metric-value">
                        <%= options.ActiveDays %>
                    </p>
                    <p class="dante-play-tile-metric-label">
                        <%= ResourceUtil.getString(options.ActiveDaysDisplayKey) %>
                    </p>
                </div>
            </div>
        <% } %>
                        
        <% if (options.Revenue != null) { %>
            <div class="dante-play-details-tile-metric-container">
                <div class="dante-play-tile-metric">
                    <p class="dante-play-tile-metric-value">
                        <%= options.Revenue %>
                    </p>
                    <p class="dante-play-tile-metric-label">
                        <%= ResourceUtil.getString(options.RevenueDisplayKey) %>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
</div>