<section <%= options %> class="js-dante-play-tile tile-flip-container dante-play-tile-container">
    <div class="js-tile-flipper tile-flipper">
        <div class="js-dante-play-tile-front tile-flip-front dante-play-tile">
            <div class="dante-play-tile-content">
                
                <div class="js-dante-play-tile-header dante-play-tile-header">
                    <span> </span> <!-- Empty span so ellipsis will be correct color in IE (see DEF-6421) -->
                    <% if (options.PlayType != null) { %>
                        <div class="icon pt-<%= options.PlayType %> play-type-icon"></div>
                    <% } %>
                    <%= options.Name %>
                </div>
                <div class="js-dante-play-tile-score dante-play-tile-score"> </div>
                
                <div>
                    <% if (options.Lift != null) { %>
                        <div class="dante-play-tile-metric-container">
                            <div class="dante-play-tile-metric">
                                <p class="dante-play-tile-metric-value">
                                    <%= options.Lift %>
                                </p>
                                <p class="dante-play-tile-metric-label uppercase">
                                    <%= ResourceUtil.getString(options.LiftDisplayKey) %>
                                </p>
                            </div>
                        </div>
                    <% } %>
                    
                    <% if (options.ActiveDays != null) { %>
                        <div class="dante-play-tile-metric-container">
                            <div class="dante-play-tile-metric">
                                <p class="dante-play-tile-metric-value">
                                    <%= options.ActiveDays %>
                                </p>
                                <p class="dante-play-tile-metric-label uppercase">
                                    <%= ResourceUtil.getString(options.ActiveDaysDisplayKey) %>
                                </p>
                            </div>
                        </div>
                    <% } %>
                    
                    <% if (options.Revenue != null) { %>
                        <div class="dante-play-tile-metric-container">
                            <div class="dante-play-tile-metric">
                                <p class="dante-play-tile-metric-value">
                                    <%= options.Revenue %>
                                </p>
                                <p class="dante-play-tile-metric-label uppercase">
                                    <%= ResourceUtil.getString(options.RevenueDisplayKey) %>
                                </p>
                            </div>
                        </div>
                    <% } %>
                </div>
                <p class="dante-play-tile-description">
                    <%= options.Objective %>
                </p>
            </div>
            <div class="dante-play-tile-footer dante-play-tile-footer-front is-hidden">
                <div class="horizontal-center">
                    <button type="button" class="js-tile-flip-front-action dante-play-tile-footer-button btn btn-danger">
                        <%= ResourceUtil.getString('PLAY_TRANSITION_LABEL') %>
                    </button>
                </div>
            </div>
        </div>
        <div class="tile-flip-back dante-play-tile">
            <div class="dante-play-tile-content">
                    
            </div>
            <div class="dante-play-tile-footer dante-play-tile-footer-back">
                <div class="float-left">
                    <img class="js-tile-flip-back-action dante-play-tile-footer-button cursor-pointer" src="assets/images/back_arrow.png"/>
                </div>
                <div class="horizontal-center">
                    <button type="button" class="btn btn-warning dante-play-tile-footer-button dante-play-tile-submit-button">
                        <%= ResourceUtil.getString('BUTTON_SUBMIT_LABEL') %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>