<%== $.View('assets/CommonAssets/views/renderers/BaseRenderer.ejs',{itemValue: "Settings", renderType: RenderWorker.PLAY_SETTINGS_RENDERER}) %>

<input type="hidden" name="InternalID" value="<%= currentPlay.InternalID %>"/>
<button type="button" class="playSettingsButton minibutton dropdown-input-control-dataTable">
    <span class="mini-icon mini-icon-gears"></span>
</button>
<div class="js-play-settings-dropdown playSettings dropdown-input-control-window is-hidden" name="playSettingsDetails">
    <% var showExportDiv = AuthenticationUtil.MayView(AuthenticationUtil.PLAY_ACCOUNT_EXPORT) === true ||  AuthenticationUtil.MayView(AuthenticationUtil.PLAY_CONTACT_EXPORT) === true || AuthenticationUtil.MayView(AuthenticationUtil.PLAY_ACCOUNT_CONTACT_EXPORT)%>
    <div class="play-settings-export-holder <%= currentPlay.IsActive && showExportDiv ? '' : 'is-hidden' %>">
        <ul class="play-settings-export-menu settings-export-menu">
            <li name="<%=ConfigConstantUtil.ExportPlayCustomerList%>" class="<%= AuthenticationUtil.MayView(AuthenticationUtil.PLAY_ACCOUNT_EXPORT) !== true ? 'is-hidden' : ''%>">
                <a href="#">
                    <%= ResourceUtil.getString('EXPORT_ACCOUNT_LIST') %>
                </a>
            </li>
            <li name="<%=ConfigConstantUtil.ExportPlayCustomerListContacts%>" class="<%= AuthenticationUtil.MayView(AuthenticationUtil.PLAY_CONTACT_EXPORT) !== true ? 'is-hidden' : ''%>">
                <a href="#">
                    <%= ResourceUtil.getString('EXPORT_ACCOUNT_LIST_CONTACTS') %>
                </a>
            </li>
            <li name="<%=ConfigConstantUtil.ExportPlayCustomerListWithContacts%>" class="<%= AuthenticationUtil.MayView(AuthenticationUtil.PLAY_ACCOUNT_CONTACT_EXPORT) !== true ? 'is-hidden' : ''%>">
                <a href="#">
                    <%= ResourceUtil.getString('EXPORT_ACCOUNT_LIST_PLUS_CONTACTS') %>
                </a>
            </li>
        </ul>
    </div>
    <div class="play-settings-copy-holder">
        <ul class="play-settings-copy-menu settings-menu">
            <li class="js-play-settings-copy-menu-item <%= currentPlay.IsActive && AuthenticationUtil.MayEdit(AuthenticationUtil.PLAY) === true ? '' : 'is-hidden' %>">
                <a href="#">
                    <%= ResourceUtil.getString('BUTTON_COPY_PLAY_LABEL') %>
                </a>
            </li>
            <li class="js-play-settings-delete-menu-item <%= currentPlay.IsActive ? '' : 'is-hidden'%>">
                <a href="#">
                    <%= ResourceUtil.getString('PLAY_SETTINGS_DELETE') %>
                </a>
            </li>
        </ul>
    </div>
	<div class="play-delete-button js-play-delete-action-container is-hidden">
		<button type="button" class="js-play-settings-delete-button play-settings-delete-button btn btn-danger">
			<%= ResourceUtil.getString('BUTTON_CONFIRM_DELETE_LABEL') %>
		</button>
		<button type="button" class="js-play-settings-delete-cancel-button play-settings-delete-cancel-button btn">
			<%= ResourceUtil.getString('BUTTON_CANCEL_LABEL') %>
		</button>
	</div>
	<div class="play-restore-button <%= currentPlay.IsActive ? 'is-hidden' : '' %>">
		<button type="button" class="js-play-settings-restore-button play-settings-restore-button btn btn-success">
			<%= ResourceUtil.getString('BUTTON_RESTORE_LABEL') %>
		</button>
	</div>
</div>