<div class="js-file-upload-notification file-upload-notification alert">
  <h3>
    <%= ResourceUtil.getString('PLAYMAKER_PREVIOUSLY_UPLOADED_MESSAGE') %> <%=DateTimeFormatUtil.FormatJsonDateCSharpFormat(creationDate, "DATETIME")%>
    </h3>
  <p>
    <%=fileName%>
  </p>
  <p>
    <%=numTargets%>
  </p>
  <%if(willOverwrite == true){%>
    <p class="error-message">
      <%=ResourceUtil.getString('PLAYMAKER_REUPLOAD_WARNING_MESSAGE')%>
    </p>
  <%}%>

</div>