<div>
    <div class="float-left">
        <div class="dante-header-account-name">
            <%= headerLabel %>
        </div>
    </div>
    <div class="float-right">
        <ul class="dropdown-navigation">
            <li id="dantePlaysTabLink">
                <a href="<%= ConfigConstantUtil.DantePlayHash %>" class="dante-main-header-link">
                    <i class="fa fa-book"></i>
                    <%= ResourceUtil.getString('MAIN_HEADER_PLAY_LABEL') %>
                </a>
            </li>
            <!--<li id="danteCompanyDetailsTabLink">
                <a href="<%= ConfigConstantUtil.DanteCompanyDetailsHash %>" class="main-header-link">
                    <%= ResourceUtil.getString('MAIN_HEADER_COMPANY_DETAILS_LABEL') %>
                </a>
            </li>
            <li id="danteContactsTabLink">
                <a href="<%= ConfigConstantUtil.DanteContactsHash %>" class="main-header-link">
                    <%= ResourceUtil.getString('MAIN_HEADER_CONTACTS_LABEL') %>
                </a>
            </li>-->
        </ul>
    </div>
</div>