<%== $.View('assets/CommonAssets/views/renderers/BaseRenderer.ejs',{itemValue: correlationPercentage, renderType: RenderWorker.ATTRIBUTE_SLIDER_RENDERER}) %>
<div class='predictive-attribute-slider-container'>
    <%if (!PredictiveAttributeWorker.isExcluded(attr)) {%>
        <span class='predictive-attribute-bar <%= attr.overcorrelated === true ? 'warning-bar' : '' %>' style='width: <%=2.2*correlationPercentage%>px;'></span>
        <%if (attr.overcorrelated === true) {%>
            <div class='predictive-attribute-warning-icon tipped' title='<%= ResourceUtil.getString('PLAYMAKER_PRED_ATTR_HIGH_WARNING') %>'></div>
        <%}%>
        <span class='predictive-attribute-excluded-message is-hidden'><%= ResourceUtil.getString('PLAYMAKER_PRED_ATTR_EXC_MESSAGE')%></span>
        <input type="hidden" name="InternalID" class="js-predictor-attribute-ID" value="<%= attr.InternalID %>"/>
        <input type="hidden" name="DisplayName" class="js-predictor-attribute-name" value="<%= attr.DisplayName %>"/>
    <%}%>
</div>