<div>
    <form id="supportTicketForm">
        <div id="supportTicketContactDetails" class="infoContainer"> </div>
        <div id="supportTicketExplanation"><%= ResourceUtil.getString("SUPPORT_TICKET_EXPLANATION") %></div>
        <div id="validationErrorText" class="error-message"> </div>
        <div>
            <label class="supportTicketLabel"><%= ResourceUtil.getString("SUPPORT_TICKET_SUMMARY_LABEL") %></label><label class="error-message"> *</label><br />
            <input type="text" name="supportTicketSummary" id="supportTicketSummary" class="text border"/>        
        </div>
        <div>
            <label class="supportTicketLabel"><%= ResourceUtil.getString("SUPPORT_TICKET_DESCRIPTION_LABEL") %></label><label class="error-message"> *</label><br />
            <label><%= ResourceUtil.getString("SUPPORT_TICKET_DESCRIPTION_TEXT") %></label><br />
            <textarea name="supportTicketDescription" id="supportTicketDescription" class="text border"></textarea>
        </div>
        <div>
            <input type="checkbox" id="urgentIssue" name="urgentIssue" /><label class="supportTicketLabel"><%= ResourceUtil.getString('SUPPORT_TICKET_URGENT_ISSUE_LABEL') %></label>
        </div>
        <div class="hiddenComponent">
            <label class="supportTicketLabel"><%= ResourceUtil.getString("SUPPORT_TICKET_ATTACHMENT_LABEL") %></label><br />
            <input type="file" id="attachFileUpload" name="attachFileUpload" />
        </div>
    </form>    
</div>