<div class = "likelihoodBarOuter">
    <div class = "likelihoodBarInner" style =   
        "  
            width:              <%= widthValue %>%;
            background:         <%= normalColor %>;
            background-image:   -ms-linear-gradient(left, <%= darkColor %> 0%, <%= normalColor %> 100%);
            background-image:   -moz-linear-gradient(left, <%= darkColor %> 0%, <%= normalColor %> 100%);
            background-image:   -o-linear-gradient(left, <%= darkColor %> 0%, <%= normalColor %> 100%);
            background-image:   -webkit-gradient(linear, left, right, color-stop(0, <%= darkColor %>), color-stop(1, <%= normalColor %>));
            background-image:   -webkit-linear-gradient(left, <%= darkColor %> 0%, <%= normalColor %> 100%);
            background-image:   linear-gradient(to right, <%= darkColor %> 0%, <%= normalColor %> 100%);
            -ms-filter:         "progid:DXImageTransform.Microsoft.gradient(startColorstr=<%= darkColor %>, endColorstr=<%= normalColor %>, GradientType = 1)";
        ">
                                                
    </div>
</div>    